services:
  db:
    image: postgres:17
    ports:
      - "${DB_PORT}:5432"
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer:5
    restart: always
    ports:
      - "8888:8080"

volumes:
  postgres_data: