server:
  port: 8080
  servlet:
    context-path: /
  error:
    include-message: always

spring:
  application:
    name: task-manager-api

  datasource:
    url: jdbc:postgresql://localhost:${DB_PORT:5444}/taskprojectdb
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
  jackson:
    mapper:
      accept-case-insensitive-enums: true
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

app:
  scheduling:
    team-cleanup-cron: "0 0 3 * * *"

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION:86400000}

logging:
  level:
    root: info
    com.belyak.taskproject: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
